[Desktop Entry]
Name=Keybase
Exec=keybase-gui %u
Icon=keybase
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
Hidden=true
MimeType=x-scheme-handler/web+stellar;x-scheme-handler/keybase;application/x-saltpack;
