[Unit]
Description=Gnome Keyring Daemon

[Service]
Type=forking
ExecStart=/usr/bin/gnome-keyring-daemon --start --daemonize --components=pkcs11,secrets,ssh

[Install]
WantedBy=default.target
