[Unit]
Description=xss-lock locks the system on inactivity and suspend events.
[Service]
ExecStart=/usr/bin/xss-lock -n /usr/lib/xsecurelock/dimmer -l -- /home/alan/bin/screen-lock
Restart=always
RestartSec=3
[Install]
WantedBy=default.target
